<!DOCTYPE html>
<head>
   <title>Mail-GPT</title> <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='email-server-icon-png-7238.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='email-server-icon-png-7238.png') }}" class="icon" />
<h3>MailGPT</h3>
  <h4 style="font-size: 26px">Generate a well-structured mail for any scenario</h4>
  <form action="/" method="post">
  <label for="recipient">Enter recipient's name:</label>
    <input type="text" name="recipient" placeholder=" Rahul Sharma" required />
    <label for="recipientPosition">Enter recipient's position:</label>
    <input type="text" name="recipientPosition" placeholder=" General Manager" required />
    <label for="sender">Enter your name:</label>
    <input type="text" name="sender" placeholder=" Kumar Varun" required />
    <label for="senderPosition">Enter your position:</label>
    <input type="text" name="senderPosition" placeholder=" Associate" />
    <label for="reason">Enter the reason for your mail:</label>
    <input type="text" name="reason" placeholder=" need 4 days leave to visit Delhi" required />
    <input type="submit" value="Generate Mail"/>
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

  <style>
    #footer {
        position: fixed;
        padding: 10px 10px 10px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: 20px;
        background: rgb(255, 255, 255);
        text-align: center;
    }
  </style>
  <div id="footer">Made by <a href="https://www.linkedin.com/in/ameen-attar/">Ameen Attar</a>.
  </div>

</body>
