<!DOCTYPE html>
<head>
  <title>EZXplain-GPT</title> <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dumb.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dumb.jpeg') }}" class="icon" />
  <h3>EZXplain</h3>
  <h2>Explain anything to anyone of any age!</h2>
  <form action="/" method="post">
    <label for="age">Enter your kid's age:</label>
    <input type="text" name="age" placeholder=" example: 8" required />
    <label for="age">Enter the topic you would like to explain:</label>
    <input type="text" name="user" placeholder=" example: Big Bang" required />
    <input type="submit" value="Submit" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

  <style>
    #footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: 20px;
        background: rgb(255, 255, 255);
        text-align: center;
    }
  </style>
  <div id="footer">Made by <a href="https://www.linkedin.com/in/ameen-attar/">Ameen Attar</a>.
  </div>

</body>
